<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 6 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient Senior Java
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Migrated Legacy system to New Equator Platform to standard all country.           
    			</li>
          <li>
            Enhananced existing merchant portal to more perfect one.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Reduced 
    			</li>
    			<li>
            Awarded Fastest Techonology Response to market in 1st 6 moth of joining.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
